body {
    background-image: url('PC.jpg'); 
    color: blue;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}   

form {
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    width: 400px;
    height: 200px;
    margin-top: 12%;
}

h1, a {
    color: white;
}

